.btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	padding: 9px 16px 7px;
	border: 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	transition: $transition-default;

	// .btn_wide
	&_wide {
		@include respond-to(md) {
			min-width: 14rem;
		}
	}

	// .btn_large
	&_large {
		font-size: 15px;
		padding: 12px 16px 10px;
		min-width: 14rem;

		@include respond-to(md) {
			min-width: 21rem;
		}
	}

	// .btn_spacing
	&_spacing {
		letter-spacing: 2px;
	}

	// .btn_default
	&_default {
		background: $btn-grey;
		color: $white;

		@include on-event {
			background: $brand-color-primary-lighten;
			color: $white;
		}
	}

	// .btn_blue
	&_blue {
		background: $btn-blue;
		color: $white;

		@include on-event {
			background: $btn-grey;
			color: $white;
		}
	}

	// .btn_dark
	&_dark {
		background: $dark-grey-3;
		color: $white;

		@include on-event {
			background: $brand-color-primary;
			color: $white;
		}
	}

	// .btn_tab
	&_tab {
		background: $white;
		color: $btn-grey;

		@include on-event {
			color: $brand-color-primary;
		}

		&.active {
			color: $brand-color-primary;
		}
	}

	// .btn_favourites
	&_favourites {
		margin-top: -2px;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: $light-grey-5;
			transition: $transition-default;
		}

		@include on-event {
			svg {
				fill: $brand-color-primary;
			}
		}

		&.active {
			svg {
				fill: $brand-color-primary;
			}
		}
	}
}