// -----------------------------------------------------------------------------
// Файл с описанием сетки flexbox (строки, колонки)
// -----------------------------------------------------------------------------

// .content {
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
// 	padding-top: 35px;
// 	margin-left: -$min-padding;
// 	margin-right: -$min-padding;
// 	@include respond-to(md) {
// 		margin-left: -$max-padding;
// 		margin-right: -$max-padding;
// 	}
// }

.content {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	// padding-top: 50px;
	// padding-bottom: 40px;
	// margin-left: -$min-padding;
	// margin-right: -$min-padding;
	@include respond-to(md) {
		// margin-left: -$max-padding;
		// margin-right: -$max-padding;
	}

	&_wide {
		max-width: 100%;
	}
}

.block-cols-2 {
	display: flex;
	flex-direction: column;
	margin-left: -$min-padding;
	margin-right: -$min-padding;
	margin: 0 auto 40px;

	@include respond-to(md) {
		flex-direction: row;
	}

	@include respond-to(lg) {
		max-width: $max-width-cols;
	}

	& > div {
		font-size: 15px;
		padding: 0 $min-padding;

		@include respond-to(md) {
			width: 50%;
		}
	}
}

.text-cols-2 {
	margin: 0 auto 40px;

	@include respond-to(md) {
		column-count: 2;
		column-gap: 30px;
	}

	@include respond-to(lg) {
		max-width: $max-width-cols;
	}
}

.text-cols-3 {
	margin: 0 auto 40px;

	// .text-cols-3_images
	&_images {
		img {
			height: 100%;
			max-height: 225px;
			object-fit: cover;
			margin-bottom: 10px !important;
		}
	}

	img {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-bottom: 16px;
	}

	@include respond-to(md) {
		column-count: 2;
		column-gap: 30px;
	}

	@include respond-to(lg) {
		column-count: 3;
		column-gap: 30px;
		max-width: $max-width-cols;
	}
}
