// -----------------------------------------------------------------------------
// Файл с описанием сетки flexbox (строки, колонки)
// -----------------------------------------------------------------------------

// .content {
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
// 	padding-top: 35px;
// 	margin-left: -$min-padding;
// 	margin-right: -$min-padding;
// 	@include respond-to(md) {
// 		margin-left: -$max-padding;
// 		margin-right: -$max-padding;
// 	}
// }

.content {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	// padding-top: 50px;
	// padding-bottom: 40px;
	// margin-left: -$min-padding;
	// margin-right: -$min-padding;
	@include respond-to(md) {
		// margin-left: -$max-padding;
		// margin-right: -$max-padding;
	}

	&_wide {
		max-width: 100%;
	}

	&_1200 {
		max-width: 1200px;
	}
}
