// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
	min-width: $min-width;
	width: 100%; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	padding-left: $min-padding; /* 3 */
	padding-right: $min-padding; /* 3 */
	padding-top: 50px;
	padding-bottom: 40px;
	flex: 1;
	@include respond-to(md) {
		padding-left: $max-padding; /* 3 */
		padding-right: $max-padding; /* 3 */
	}

	&_wide {
		padding-left: 0;
		padding-right: 0;
	}

	&_short {
		padding-top: 0;
		padding-bottom: 0;
	}
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
	overflow: hidden;
	padding: 0; /* 1 */
	text-indent: 101%;
	white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// .hidden-lg
.hidden-lg {
	@include respond-to(lg) {
		display: none !important;
	}
}
.hidden-img-lg {
	@include respond-to(lg) {
		img {
			display: none !important;
		}
	}
}

// .visible-lg
.visible-lg {
	display: none !important;
	@include respond-to(lg) {
		display: block !important;
	}
}

.nowrap {
	white-space: nowrap;
}

.flex-center {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	
	img {
		display: block;
	}
}

// backgrounds
.bg-grey-light1 {
	background: $light-grey-1;
}
.bg-grey-light2 {
	background: $light-grey-2;
}
.bg-grey-light3 {
	background: $light-grey-3;
}
.bg-grey-light4 {
	background: $light-grey-4;
}
.bg-grey-light5 {
	background: $light-grey-5;
}
.bg-grey-dark1 {
	background: $dark-grey-1;
}
.bg-grey-dark2 {
	background: $dark-grey-2;
}
.bg-grey-dark3 {
	background: $dark-grey-3;
}
.bg-primary-lightest {
	background: $brand-color-primary-lightest;
}

.map-pointer {
	width: 30px;
	height: 30px;
	fill: $brand-color-primary;
}

// tags
.tag {
	position: absolute;
	padding: 10px 9px 9px 9px;
	background: rgba($white, 0.7);
	top: 0;
	left: 5%;
	color: $color-brick;
	font-family: $header-font-stack;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;

	&_sold {
		background: rgba($color-brick, 0.7);
		color: #fff;
	}
}

// font sizes
.fz24 {
	font-size: 1.5rem;
}

.error {
	color: $red;
}

.position-relative {
	position: relative;
}

.no-scroll {
	height: 100vh;
	overflow: hidden;
}