/**
 * Basic typography style for text
 */

/*
https://learn.javascript.ru/css-units
rem - от html
em - от текущего шрифта
% - от размера шрифта родителя / margin-left - от родительской ширины / line-height - от текущего размера шрифта (не от родителя) / width/height - от ширины/высоты родителя/окна (при position:fixed)
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

body {
	color: $text-color;
	font: normal 100% / 1.4 $text-font-stack;
}

// headings
%h1-heading {
	font-family: $header-font-stack;
	font-size: 2.5rem; // 40
	line-height: 1;
	font-weight: 400;
	color: $header-color;
	text-transform: uppercase;
	margin-bottom: 20px;

	// @include respond-to(md) {
	// 	font-size: 1.875rem; // 30
	// }
	// @include respond-to(lg) {
	// 	font-size: 2.5rem; // 40
	// }
}

%h2-heading {
	font-family: $header-font-stack;
	font-size: 1.875rem; // 30
	line-height: 1.25;
	font-weight: 400;
	color: $header-color;
	text-transform: uppercase;
	margin-bottom: 15px;
}

%h3-heading {
	font-family: $header-font-stack;
	font-size: 1.3rem; // 20.8
	font-weight: 400;
	line-height: 1.3;
	color: $header-color;
	text-transform: uppercase;
	margin-bottom: 10px;

	// @include respond-to(md) {
	// 	font-size: 1.563rem; // 25
	// }
	// @include respond-to(lg) {
	// 	font-size: 2.188rem; // 35
	// }
}

%h4-heading {
	font-family: $header-font-stack;
	font-size: 0.938rem; // 15
	font-weight: 400;
	line-height: 1.3;
	color: $header-color;
	margin-bottom: 10px;

	// @include respond-to(md) {
	// 	font-size: 1.5rem; // 24
	// }
}

%h5-heading {
	font-family: $header-font-stack;
	font-size: 0.875rem; // 14
	font-weight: 400;
	color: $header-color;
	margin-bottom: 10px;
}

%h6-heading {
	font-family: $header-font-stack;
	font-size: 0.813rem; // 13
	font-weight: 400;
	color: $header-color;
	margin-bottom: 10px;
}

/**
 * Basic styles for links
 */
%text-links {
	font-weight: 500;
	color: $href-color;
	text-decoration: none;

	@include on-event {
		color: $href-color-hover;
	}
}

%text-links-solid {
	color: $href-color;
	text-decoration: none;
	border-bottom: 1px solid $href-color;

	@include on-event {
		border-bottom-color: transparent;
	}
}

%text-links-dashed {
	@extend %text-links-solid;
	border-bottom-style: dashed;
}

/**
 * font weights
 */
.fw-400 {
	font-weight: 400;
}

/**
 * font sizes
 */
.fz20 {
	font-size: 1.25rem !important;
}

.small {
	font-size: 0.85rem !important;
}

/**
 * text others
 */
h1 {
	@extend %h1-heading;
}

h2 {
	@extend %h2-heading;
}

h3 {
	@extend %h3-heading;
}

h4 {
	@extend %h4-heading;
}

h5 {
	@extend %h5-heading;
}

h6 {
	@extend %h6-heading;
}

a {
	@extend %text-links;
	transition: $transition-default;
}

p {
	line-height: 1.7;
	margin-bottom: 16px;
}

ul,
ol {
  display: block;
	list-style-type: disc;
	margin-bottom: 20px;
	padding-left: 20px;

	li {
		margin-bottom: 5px;
		padding-left: 5px;
	}
}

ol {
	list-style-type: decimal;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-gold {
	h1, h2, h3, h4, h5, h6 {
		color: $gold !important;
	}

	h1 {
		font-size: 3rem;
	}
	h4 {
		font-size: 1.563rem; // 25
		line-height: 1;
	}

	a:not(.btn) {
		color: $gold !important;

		@include on-event {
			color: $gold-light !important;
		}
	}
}