.gallery-careers {
	display: flex;
	flex-wrap: wrap;

	img {
		flex: 1 1 25%;
		width: 25%;
		min-width: 150px;
		height: 100px;
		object-fit: cover;

		@include respond-to(md) {
			height: 150px;
		}
		@include respond-to(lg) {
			height: 200px;
		}
		@include respond-to(xl) {
			height: 250px;
		}
	}

	// .gallery-careers_bottom
	&_bottom {
		img {
			height: 100px;

			@include respond-to(md) {
				height: 200px;
			}
			@include respond-to(lg) {
				height: 250px;
			}
			@include respond-to(xl) {
				height: 300px;
			}
		}
	}
}

/*.gallery-careers {
	display: grid;
	gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	max-height: calc(150px * 2);
	overflow: hidden;

	@include respond-to(md) {
		grid-template-columns: repeat(auto-fit, minmax(33.33334%, 1fr));
		max-height: calc(245px * 2);
	}

	@include respond-to(lg) {
		grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
	}

	// для 5 в ряд (всего 10)
	// @include respond-to(xl) {
	// 	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	// 	max-height: calc(330px * 2);
	// }

	// @include respond-to(xxl) {
	// 	grid-template-columns: repeat(auto-fit, minmax(16.6667%, 1fr));
	// }

	img {
		width: 100%;
		height: 150px;
		object-fit: cover;

		@include respond-to(md) {
			height: 245px;
		}

		// для 5 в ряд
		// @include respond-to(xl) {
		// 	height: 330px;
		// }
	}
}
*/

.benefits {
	font-family: $header-font-stack;
	font-size: 17px;
	color: $brand-color-primary;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	max-width: calc($max-width * 2);
	margin: 0 auto;

	// .benefits__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1 1 calc(20% - 30px);
		width: 20%;
		min-width: 150px;
		margin: 15px;
		text-align: center;
		padding: 15px 10px 20px;
		background: $white;
		border: 1px solid $text-color;
		box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
		border-radius: 6px;
	}

	svg {
		width: 50px;
		height: 50px;
		margin: 0 0 10px;
	}
}

// svg icons sprite for benefits
.cr1,
.cr2 {
	fill: none;
}
.cr2 {
	stroke: rgb(29, 29, 27);
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
}

.vacancy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	max-width: 1100px;
	margin: 0 auto 20px;
	background: $white;
	padding: 5px 25px;
	border: 1px solid $text-color;
	border-radius: 6px;

	@include respond-to(xm) {
		flex-direction: row;
		text-align: left;
	}
	// .vacancy__col
	&__col {
		padding: 5px;

		h2 {
			line-height: 1.1;
			margin-bottom: 10px;
		}
	}
}

.cv {
	text-align: center;
	margin: 40px auto;
	padding: 20px 35px;
	border: 1px solid $text-color;
	border-radius: 6px;
}

.about-us {
	// .about-us__row
	&__row {
		display: flex;
		flex-direction: column;
		max-width: calc($max-width * 2);
		min-height: 500px;
		margin: 0 auto;

		@include respond-to(md) {
			flex-direction: row;
		}
	}

	// .about-us__col
	&__col {
		order: 1;
		flex-basis: 50%;
	}
}

.about-us-ceo {
	position: relative;
	overflow: hidden;

		// .about-us-ceo__name
		&__name {
			position: absolute;
			bottom: 35px;
			right: 35px;
			color: $white;
			line-height: 1;
		}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.about-us-text {
	padding: 65px 30px 30px;
	text-align: center;

	@include respond-to(md) {
		padding: 30px;
	}

	@include respond-to(lg) {
		padding: 65px;
	}

	img {
		margin: 30px auto;
	}
}

.awards {
	ul {
		list-style-type: none;
		padding-left: 0;
		font-size: 16px;
	}
}

.gallery-awards {
	max-width: $max-width-cols;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;

	img {
		width: auto;
		max-width: 150px;
		flex: 0 1 auto;
		margin: 15px;
	}
}