.contacts {
	margin-bottom: 0;
}

.contacts-form {
	font-weight: 500;

	.block-cols-2 {
		max-width: 1100px;
	}
}

// lc_select overrides
.lcslt-group {
	padding-left: 0;
}
.lcslt {
	padding: 0.5rem 30px 0.5rem 0.75rem !important;
	border: 1px solid $btn-grey !important;
	border-radius: 0 !important;
	background: $white !important;
	line-height: 21px !important;
	height: 39px;
}
.lcslt:not(.lcslt-multiple) span:not(.lcslt-placeholder):not(.lcslt-multi-callout) {
	font-size: 15px !important;
	line-height: 1.2 !important;
}
.lcslt-placeholder {
	transform: none;
	color: $placeholder-color;
}
.lcslt:not(.lcslt-multiple)::after {
	right: 9px !important;
}
.lcslt > span:not(.lcslt-placeholder):not(.lcslt-multi-callout),
#lc-select-dd li {
	color: $input-color;
}
#lc-select-dd li {
	border: 0;
}
#lc-select-dd li span {
	padding: 8px 12px;
	font-size: 15px;
	color: $dark-grey-3;
}
.lcslt:not(.lcslt-multiple) > span,
.lcslt.lcslt-multiple > span:not(.lcslt-multi-callout) {
	padding: 0;
}
#lc-select-dd li.lcslt-dd-opt:not(.lcslt-disabled):not(.lcslt-selected):hover,
#lc-select-dd .lcslt-dd-opt-hlight,
#lc-select-dd li.lcslt-selected {
	background: $brand-color-primary;
}
#lc-select-dd li.lcslt-selected span,
#lc-select-dd li.lcslt-dd-opt:not(.lcslt-disabled):not(.lcslt-selected):hover span {
	color: $white !important;
}
#lc-select-dd li.lcslt-selected.lcslt-dd-opt-hlight {
	box-shadow: none;
}
.lcslt-multiple {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	min-height: 39px !important;
}
.lcslt-multi-selected,
.lcslt-multi-callout {
	margin: 2px 1px;
}
.lcslt-multi-selected span {
	font-size: 14px !important;
}
.lcslt-multi-selected::before {
	font-family: inherit !important;
}
.lcslt.lcslt-multiple::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #444;
	display: inline-block;
	position: absolute;
	right: 6px;
	transition: transform 0.3s ease;
}
.lcslt.lcslt-multiple::after {
	border-top-color: #888 !important;
}
.lcslt.lcslt-multiple:hover::after {
	border-top-color: #666 !important;
}
.lcslt-multi-selected,
.lcslt-multi-callout {
	border-radius: 4px;
	border: 1px solid #aaa;
}
.lcslt-multi-callout {
	display: none !important;
}

// nouislider overrides
.noUi-horizontal {
	height: 5px;
	margin-top: 18px;

	.noUi-handle {
		cursor: pointer;
		width: 21px;
		height: 21px;
		right: -10px;
		top: -9px;
		box-shadow: none;
		border: 0;
		border-radius: 50%;
		background: $brand-color-primary-lighten;

		&::before, &::after {
			display: none;
		}
	}
}
.noUi-connect {
	background: $brand-color-primary;
}

.price-range-result {
	font-size: 13px;
	display: block;
	margin-top: 10px;
	text-align: center;
}