.gallery-careers {
	display: grid;
	gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	max-height: calc(150px * 2);
	overflow: hidden;

	@include respond-to(md) {
		grid-template-columns: repeat(auto-fit, minmax(33.33334%, 1fr));
		max-height: calc(245px * 2);
	}

	@include respond-to(lg) {
		grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
	}

	// для 5 в ряд (всего 10)
	// @include respond-to(xl) {
	// 	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	// 	max-height: calc(330px * 2);
	// }

	// @include respond-to(xxl) {
	// 	grid-template-columns: repeat(auto-fit, minmax(16.6667%, 1fr));
	// }

	img {
		width: 100%;
		height: 150px;
		object-fit: cover;

		@include respond-to(md) {
			height: 245px;
		}

		// для 5 в ряд
		// @include respond-to(xl) {
		// 	height: 330px;
		// }
	}
}
