// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	min-height: $header-height-mobile;
	box-shadow: 0 5px 9px rgb(0 0 0 / 18%);
	z-index: 2;

	@include respond-to(md) {
		.menu__item {
			a {
				&.active {
					color: $brand-color-primary;
				}
			}
		}
	}

	& + .container {
		padding-top: 125px;

		.content {
			padding-top: 0;
		}
	}

	&_contrast {
		box-shadow: none;
		
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 160px;
			opacity: 0.3;
			background: transparent;
			background-image: linear-gradient($black, transparent);
			z-index: -1;
		}

		.menu__item_childs::after {
			background: url($menu-arrow-white) center no-repeat;
		}

		.hamburger-inner,
		.hamburger-inner::after,
		.hamburger-inner::before {
			background: $white;
		}

		@include respond-to(md) {
			.menu__item {
				a {
					color: $white !important;

					&.active {
						border-bottom: 1px solid $light-grey-5;
					}
				}
			}
		}
	}

	&_fixed {
		min-width: $min-width;
		background: $white;
		position: fixed;
	}

	@include respond-to(md) {
		align-items: center;
	}

	// .header__logo
	&__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 160px;

		@include respond-to(md) {
			position: relative;
			left: auto;
			transform: none;
			margin-bottom: 21px;
		}
	}
	// .header__nav
	&__nav {
	}
}
.logo {
	// .logo__img
	&__img {
	}
}
.menu-toggle {
}
.hamburger-box {
}
.hamburger-inner {
}
