.news-feed {
	margin: 0 -2px 26px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include respond-to(md) {
		flex-direction: row;
	}

	// .news-feed__item
	&__item {
		margin: 0 2px 30px;
		display: flex;
		flex-direction: column;
		flex: 1 1 100%;
	}

	// .news-feed__link
	&__link {
		width: 100%;

		img {
			height: 280px;
			width: 100%;
			object-fit: cover;

			@include respond-to(xm) {
				height: 300px;
			}
			@include respond-to(md) {
				height: 170px;
			}
			@include respond-to(lg) {
				height: 260px;
			}
		}
	}

	// .news-feed__desc
	&__desc {
		padding: 0.5rem 1rem;
		background: $white;
	}
}

.news-feed-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;

	// .news-feed-desc__name
	&__name {
		text-transform: uppercase;

		@include respond-to(md) {
			@include respond-to(lg, "max") {
				font-size: 1rem;
			}
		}
	}

	// .news-feed-desc__date
	&__date {
		@include respond-to(md) {
			@include respond-to(lg, "max") {
				font-size: 0.875rem;
			}
		}
	}
}

.news-list {
	// .news-list__row
	&__row {
		display: flex;
		flex-direction: column;
		max-width: calc($max-width * 2);
		margin: 0 auto;

		@include respond-to(lg) {
			flex-direction: row;
		}
	}

	// .news-list__col
	&__col {
		order: 1;
		padding: 50px;
		flex-basis: 50%;
		min-height: 380px !important;

		// .news-list__col_bgr
		&_bgr {
			padding: 0 !important;

			@include respond-to(lg) {
				@include when-inside(".news-list__row:nth-child(odd)") {
					order: 0;
				}
				@include when-inside(".news-list__row:nth-child(even)") {
					order: 1;
				}
			}

			a {
				display: block;
				width: 100%;
				min-height: inherit;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}

		h2 {
			margin-bottom: 0;
		}
	}
}

.news-item {
	margin: 0 auto;

	// .news-item__date
	&__date {
		font-size: 15px !important;
		color: $light-grey-5;
		margin-bottom: 35px;
		margin-top: -5px;
	}

	// .news-item__body
	&__body {
		font-size: 15px;
	}
}

.btn-news {
	width: 50px;
	display: block;
	box-sizing: content-box;
	padding: 5px 5px;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	color: $text-color;
	font-weight: 400;

	@include on-event {
		color: $href-color;

		&::after {
			transition: $transition-default;
			background: url($menu-arrow-primary) center no-repeat;
		}
	}

	&::after {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		top: 50%;
		background: url($menu-arrow-grey) center no-repeat;
		transition: $transition-default;
	}

	// .btn-news_prev
	&_prev {
		&::after {
			left: 0;
			transform: rotate(-90deg) translate(50%, -50%) scale(-0.9);
		}
	}

	// .btn-news_next
	&_next {
		&::after {
			right: -15px;
			transform: rotate(-90deg) translate(50%, -50%) scale(0.9);
		}
	}
}
